.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 5rem;
	background-color: #333;

	.logo {
		font-size: 2rem;
		color: #f4f4f4;
	}

	ul {
		display: flex;
	}
	li {
		padding: 1rem 1.5rem;
		p {
			color: white;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
	button {
		color: #333;
		text-transform: uppercase;
		padding: 0.5rem 1rem;
		border: none;
		background-color: white;
		font-weight: bold;

		&:hover {
			background-color: #777;
			color: black;
			cursor: pointer;
		}
	}
}
